<div style="background-color: lightgrey; width: 30%; border-radius: 5px; padding-left: 15px;">
  <form [formGroup]="baseForm" (ngSubmit)="OnSubmit()">
    <span>Ingrese la fecha de nacimiento:  </span>
    <input type="text" formControlName="date">
    <div *ngIf="baseForm.invalid && baseForm.dirty && baseForm.touched">
      <br><span class="mensajeError">Valor erroneo, intente nuevamente.</span><br>
    </div>
    <br>
    <!-- <span>El valor ingresado fue: {{baseForm.value.date}}</span> -->
  </form>
</div>
